.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-top: 10%; */
}
.paragraph {
  text-align: center !important;
  font-weight: 300 !important;
  font-style: oblique !important;
  color: rgb(159, 145, 155);
  color: rgb(248, 27, 167);
  letter-spacing: 1px;
}
.name {
  text-align: center;
  margin-bottom: 5%;
}
@media screen and (max-width: 414px) {
  .name {
    margin-top: 10%;
    margin-bottom: 15%;
  }
}
