.card-tips-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
  background-color: rgba(7, 1, 53, 0.8) !important;
  font-size: 20px
}
.tips-form {
  width: 60%;
  margin: auto;
}
.tips-label-input {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  padding-bottom: 2rem;
  margin: auto;
}
/* .coins-div {
  display: inline-block;
  vertical-align: bottom;
}
.coins {
  vertical-align: bottom !important;
}
.coins-span {
  vertical-align: middle; 
  line-height: normal;
} */
.warning-div-check {
  display: inline-block; /* Allow the checkbox and text to be in a line */
  vertical-align: middle; /* Align text vertically with the checkbox */
}
.all-checks {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block; /* Ensures the checkbox stays inline with text */
  flex-shrink: 0; /* Prevents the checkbox from shrinking */
  width: 5%; /* Percentage of the parent container's width */
  max-width: 30px; /* Optional: Set a maximum width */
  height: auto; /* Automatically adjusts height based on width */
  aspect-ratio: 1 / 1; /* Ensures the checkbox stays a perfect circle */
  cursor: pointer;
  border: 2px solid white; 
  background-color: grey;
  border-radius: 50%; /* Makes it circular */
  margin-right: 3%;
  vertical-align: middle;
}
span {
  vertical-align: middle; /* Vertically align text with checkbox */
  line-height: normal; /* Adjust line height if needed */
}
.warning-div-fa {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.facheck-circle {
  color: white;
  background-color: green;
  border-radius: 50%;
  height: 5%;
  width: 5%;
  margin-right: 3%;
}
.card-success {
  border: 2px solid rgb(117, 95, 203) !important;
  background-color: rgb(15, 15, 19, 0.3) !important;
  border-radius: 25px !important;
  width: 50% !important;
  height: 500px;
  overflow: scroll;
  animation: rotationmove 0.4s linear;
  margin-bottom: 5% !important;
}
@keyframes rotationmove {
  50% {
    transform: rotateY(90deg);
  }
}
@keyframes rotationfade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 850px) {
  .card-success {
    width: 70% !important;
  }

  .update-end {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .card-success {
    width: 85% !important;
  }
  .tips-form {
    width: 80%;
    margin: auto;
  }
}
@media screen and (max-width: 460px) {
  .card-success {
    width: 90% !important;
  }
}
