.nav-item {
  display: flex;
  align-items: center;
}


.profile-info {
  text-align: center;
}
.photo-url {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  background-position: cover;
  margin-top: 2%;
}
.update {
  text-decoration: none;
}
.profile-footer {
  display: inline !important;
}
img,
svg {
  vertical-align: 0 !important;
  margin-right: 4px;
  color: yellow;
}
.font-weight {
  font-weight: 700;
}