.button {
  background-color: rgba(210, 35, 241, 0.92) !important;
  /* border: solid; */
  border-width: 1px;
  border-radius: 2em !important;
  width: 20% !important;
  margin: auto;
  margin-top: 2%;
  color: rgb(220, 210, 210);
  white-space: nowrap;
  padding: 0 !important;
}

.button:hover {
  background-color: rgba(21, 3, 71, 0.4) !important;
  transition: 0.4s;
}
@media screen and (max-width: 414px) {
  .button {
    width: 40% !important;
  }
}