.container-nav {
  display: flex;
  justify-content: center;
  padding-bottom: 4%;
}
.nav-link {
  border-radius: 2em;
  background-color: rgb(72, 0, 255) !important;
  margin: 5px;
  text-decoration: none !important;
  padding: 0 !important;
  width: 7rem;
}

.nav-text {
  border-radius: 2em;
  background-color: rgb(72, 0, 255) !important;
  font-weight: 400 !important;
  color: white !important;
  text-decoration: none;
  transition: 0.25s !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-text:hover {
  background: rgb(116, 72, 225) !important;
}
